<div id="<%= dom_id comment %>">
  <p>
    <strong>Id user:</strong>
    <%= comment.ID_User %>
  </p>

  <p>
    <strong>Id forumpost:</strong>
    <%= comment.ID_ForumPost %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

</div>
