<div id="<%= dom_id role %>">
  <p>
    <strong>Isemployee:</strong>
    <%= role.isEmployee %>
  </p>

  <p>
    <strong>Isrepairbuisness:</strong>
    <%= role.isRepairBuisness %>
  </p>

  <p>
    <strong>Isuser:</strong>
    <%= role.isUser %>
  </p>

</div>
