<h1>Editing repair offer</h1>

<%= render "form", repair_offer: @repair_offer %>

<br>

<div>
  <%= link_to "Show this repair offer", @repair_offer %> |
  <%= link_to "Back to repair offers", repair_offers_path %>
</div>
